      img.hiragana {border: solid blue 2px;}
      img.katakana {border: solid red 2px;}
      span.hiragana {font-weight: bold; color: blue; font-size:50px;}
      span.katakana {font-weight: bold; color: red; font-size:50px;}
      span.english {font-weight: bold; color: black; font-size:50px;}
      .glyph.hiragana {width:140; font-align:center; background-color: #AAAAFF; border: solid blue 2px;}
      .glyph.katakana {width:140; font-align:center; background-color: #FFAAAA; border: solid red 2px;}
      .tile.hiragana {vertical-align:top; width:200; font-align:center; background-color: #AAAAFF; border: solid blue 2px;}
      .tile.katakana {vertical-align:top; width:200; font-align:center; background-color: #FFAAAA; border: solid red 2px;}
      .tile.hiragana h2 {width:200; color:blue; font-align:center;}
      .tile.katakana h2 {width:200; color:red; font-align:center;}
      .tile h3 {width:200; font-align:center;}
      .tile p {width:200; font-align:center;}
